{"Port":8082,"PlugIns":[{"FullName":"ArchBench.PlugIns.Throttling.PlugInThrottling","FileName":"C:\\Users\\cduar\\Documents\\github\\AS\\ArchBench.PlugIns.Throttling\\bin\\Debug\\netstandard2.0\\ArchBench.PlugIns.Throttling.dll","Settings":{}},{"FullName":"ArchBench.PlugIns.Logger.PlugInLogger","FileName":"C:\\Users\\cduar\\Documents\\github\\AS\\ArchBench.PlugIns.Logger\\bin\\Debug\\netstandard2.0\\ArchBench.PlugIns.Logger.dll","Settings":{"Headers":"False"}},{"FullName":"ArchBench.PlugIns.Proxy.PlugInProxy","FileName":"C:\\Users\\cduar\\Documents\\github\\AS\\ArchBench.PlugIns.Proxy\\bin\\Debug\\netstandard2.0\\ArchBench.PlugIns.Proxy.dll","Settings":{"Remote":"http://localhost:8082"}}]}